<div>
  <h2 id="page-heading" data-cy="RestaurantHeading">
    <span jhiTranslate="amidiappApp.restaurant.home.title">Restaurants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="amidiappApp.restaurant.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-restaurant"
        [routerLink]="['/restaurant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="amidiappApp.restaurant.home.createLabel"> Create a new Restaurant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'amidiappApp.restaurant.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="restaurants?.length === 0">
    <span jhiTranslate="amidiappApp.restaurant.home.notFound">No restaurants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="restaurants && restaurants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantName">Restaurant Name</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantAddress">Restaurant Address</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantAddressCmp">Restaurant Address Cmp</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantType">Restaurant Type</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.isSub">Is Sub</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantSubscription">Restaurant Subscription</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantSubDate">Restaurant Sub Date</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantDescription">Restaurant Description</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantPhoneNumber">Restaurant Phone Number</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantEmail">Restaurant Email</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantWebSite">Restaurant Web Site</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantLatitude">Restaurant Latitude</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.restaurantLongitude">Restaurant Longitude</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.isActivated">Is Activated</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.restaurant.location">Location</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/restaurant', restaurant.id, 'view']">{{ restaurant.id }}</a>
          </td>
          <td>{{ restaurant.restaurantName }}</td>
          <td>{{ restaurant.restaurantAddress }}</td>
          <td>{{ restaurant.restaurantAddressCmp }}</td>
          <td jhiTranslate="{{ 'amidiappApp.RestaurationType.' + restaurant.restaurantType }}">{{ restaurant.restaurantType }}</td>
          <td>{{ restaurant.isSub }}</td>
          <td jhiTranslate="{{ 'amidiappApp.SubscriptionType.' + restaurant.restaurantSubscription }}">
            {{ restaurant.restaurantSubscription }}
          </td>
          <td>{{ restaurant.restaurantSubDate | formatMediumDatetime }}</td>
          <td>{{ restaurant.restaurantDescription }}</td>
          <td>{{ restaurant.restaurantPhoneNumber }}</td>
          <td>{{ restaurant.restaurantEmail }}</td>
          <td>{{ restaurant.restaurantWebSite }}</td>
          <td>{{ restaurant.restaurantLatitude }}</td>
          <td>{{ restaurant.restaurantLongitude }}</td>
          <td>{{ restaurant.isActivated }}</td>
          <td>
            <div *ngIf="restaurant.location">
              <a [routerLink]="['/location', restaurant.location?.id, 'view']">{{ restaurant.location?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/restaurant', restaurant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/restaurant', restaurant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(restaurant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
