<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="amidiappApp.client.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.surname" for="field_surname">Surname</label>
          <input type="text" class="form-control" name="surname" id="field_surname" data-cy="surname" formControlName="surname" />
          <div *ngIf="editForm.get('surname')!.invalid && (editForm.get('surname')!.dirty || editForm.get('surname')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('surname')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.birthDate" for="field_birthDate">Birth Date</label>
          <div class="d-flex">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="datetime-local"
              class="form-control"
              name="birthDate"
              formControlName="birthDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.clientLogin" for="field_clientLogin">Client Login</label>
          <input
            type="text"
            class="form-control"
            name="clientLogin"
            id="field_clientLogin"
            data-cy="clientLogin"
            formControlName="clientLogin"
          />
          <div *ngIf="editForm.get('clientLogin')!.invalid && (editForm.get('clientLogin')!.dirty || editForm.get('clientLogin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('clientLogin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.clientPwd" for="field_clientPwd">Client Pwd</label>
          <input type="text" class="form-control" name="clientPwd" id="field_clientPwd" data-cy="clientPwd" formControlName="clientPwd" />
          <div *ngIf="editForm.get('clientPwd')!.invalid && (editForm.get('clientPwd')!.dirty || editForm.get('clientPwd')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('clientPwd')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="amidiappApp.client.isActivated" for="field_isActivated">Is Activated</label>
          <input
            type="checkbox"
            class="form-check"
            name="isActivated"
            id="field_isActivated"
            data-cy="isActivated"
            formControlName="isActivated"
          />
          <div *ngIf="editForm.get('isActivated')!.invalid && (editForm.get('isActivated')!.dirty || editForm.get('isActivated')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('isActivated')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="amidiappApp.client.restaurant" for="field_restaurants">Restaurant</label>
          <select
            class="form-control"
            id="field_restaurants"
            data-cy="restaurant"
            multiple
            name="restaurants"
            formControlName="restaurants"
          >
            <option
              [ngValue]="getSelectedRestaurant(restaurantOption, editForm.get('restaurants')!.value)"
              *ngFor="let restaurantOption of restaurantsSharedCollection; trackBy: trackRestaurantById"
            >
              {{ restaurantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
