<div>
  <h2 id="page-heading" data-cy="HedgeprodHeading">
    <span jhiTranslate="amidiappApp.hedgeprod.home.title">Hedgeprods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="amidiappApp.hedgeprod.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hedgeprod"
        [routerLink]="['/hedgeprod/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="amidiappApp.hedgeprod.home.createLabel"> Create a new Hedgeprod </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'amidiappApp.hedgeprod.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="hedgeprods?.length === 0">
    <span jhiTranslate="amidiappApp.hedgeprod.home.notFound">No hedgeprods found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="hedgeprods && hedgeprods.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.hedgeprod.hName">H Name</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.hedgeprod.hSurname">H Surname</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.hedgeprod.hRole">H Role</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.hedgeprod.hEmail">H Email</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.hedgeprod.hPhoneNumber">H Phone Number</span></th>
          <th scope="col"><span jhiTranslate="amidiappApp.hedgeprod.isActivated">Is Activated</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hedgeprod of hedgeprods; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/hedgeprod', hedgeprod.id, 'view']">{{ hedgeprod.id }}</a>
          </td>
          <td>{{ hedgeprod.hName }}</td>
          <td>{{ hedgeprod.hSurname }}</td>
          <td jhiTranslate="{{ 'amidiappApp.HedgeprodRole.' + hedgeprod.hRole }}">{{ hedgeprod.hRole }}</td>
          <td>{{ hedgeprod.hEmail }}</td>
          <td>{{ hedgeprod.hPhoneNumber }}</td>
          <td>{{ hedgeprod.isActivated }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/hedgeprod', hedgeprod.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/hedgeprod', hedgeprod.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(hedgeprod)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
